<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Lavish - Free Responsive Template</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
        <meta name="author" content="templatemo">
        <!-- 
        Lavish HTML CSS Template
        https://templatemo.com/tm-458-lavish
        -->
        
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- animate -->
		<link rel="stylesheet" href="assets/css/animate.min.css">
		<!-- bootstrap -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<!-- font-awesome -->
		<link rel="stylesheet" href="assets/css/font-awesome.min.css">
		<!-- google font -->
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700,800' rel='stylesheet' type='text/css'>
		<!-- fullpage -->
		<link rel="stylesheet" href="assets/css/jquery.fullPage.css">
		<!-- custom -->
		<link rel="stylesheet" href="assets/css/templatemo-style.css">
		<link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="assets/css/404/style.css" />

	</head>
	<body>

	<div id="fullpage">

		<!-- start home -->
		<div id="home" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8 wow fadeIn" data-wow-delay="0.9s">
						<h3>SOLO LEVELING</h3>
						<h1>Welcome to the new Korean rpg world</h1>
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>
		</div>
		<!-- end home -->

		<!-- start work -->
		
		<!-- end about -->

		<!-- start portfolio -->
		<div >
		
			
				<div id="notfound">
				<div class="notfound">
					<div class="notfound-404">
						<h3>Oops! Page not found</h3>
						<h1><span>4</span><span>0</span><span>4</span></h1>
					</div>
					<h2>we are sorry, but the page you requested was not found</h2>



		</div>
	</div>
	<!-- end portfolio -->

		<!-- start contact -->
		
		<!-- end contact -->

		<!-- start footer -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-12 wow fadeIn" data-wow-delay="0.9s">
						<p>Copyright &copy; 2018 Lavish Personal Profile 
                        
                        . Designed by <a rel="nofollow noopener" href="https://templatemo.com">templatemo</a></p>
						<hr>
						<ul class="social-icon">
							<li><a href="#" class="fa fa-facebook"></a></li>
							<li><a href="#" class="fa fa-twitter"></a></li>
							<li><a href="#" class="fa fa-instagram"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<!-- end footer -->

	</div>

		<!-- jQuery -->
		<script src="assets/js/jquery.js"></script>
		<!-- bootstrap -->
		<script src="assets/js/bootstrap.min.js"></script>
		<!-- fullpage -->
		<script src="assets/js/jquery.fullPage.js"></script>
		<!-- smoothScroll -->
		<script src="assets/js/smoothscroll.js"></script>
		<!-- wow -->
		<script src="assets/js/wow.min.js"></script>
		<!-- text rotater -->
		<script src="assets/js/jquery.simple-text-rotator.js"></script>
		<!-- custom -->
		<script src="assets/js/custom.js"></script>

	</body>
</html>